
.titulo div{
    margin-right: 50%;
}

.titulo h1{
        font-size: 4rem;
        line-height: 1.2;
        margin-bottom: 1rem;
        margin-top: 25px;
        color: #fff;
        box-shadow: 0 4px 10px rgba(32, 103, 211, 0.3); 
}

.titulo h1:hover{
    transition: 0.3s ease;
    overflow: hidden;
    transform: scale(1.2);
    filter: drop-shadow(0 0 25px rgb(32, 103, 211));
}

.certificados{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    margin-top: 15%;
}
.container-certificados{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: baseline;
    gap: 20rem;
}

.certificado{
    text-align: center;
    transition: transform 0.3s ease;
}

.certificado img{
    position: relative;
    width: 25vw;
    box-shadow: 0 0 25px var(--main-color);
    border: 2px solid var(--main-color); 
    height: 20vw;
}

.certificado:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 25px var(--main-color));
    
}

.button-back{
    margin-top: 20%;
}

    @media(max-width:3000px){
        .logo-certificado{
            width: 25%;
        }

        .titulo div{
            margin-right: 40%;
        }

    .container-certificados{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
    }

    .certificado img{
        width: 30vw;
        height: 25vw;
    }

    .button-back{
        margin-top: 10%;
    }

    }


@media (max-width: 990px){

    .logo-certificado img{
        width: 40%;
    }

    .titulo div{
    margin-right: 30%;
    }

    .container-certificados{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
        gap: 10rem;
    }

    .certificado img{
    width: 35vw;
    height: 25vw;
    }

}


@media (max-width: 768px){

    .titulo h1{
    font-size: 3rem;
     }

     .logo-certificado img{
        width: 50%;
     }

     .certificados{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .box-certificados {
        grid-template-columns: repeat(1,1fr);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .button-back a{
        padding: 24px 48px;
        font-size: 20px;
    }
}

@media (max-width: 480px){


     .certificados{
    grid-template-columns: repeat(1,1fr);
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .box-certificados {
       display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-back a{
        padding: 24px 48px;
        font-size: 20px;
    }

    
}