
.header.titulo {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 20px 5%;
    background-color: #000; 
    position: relative;
}

.logo-certificado {
    flex: 1; 
}

.logo-certificado img {
    width: 80px; 
    display: block;
}

.titulo div {
    flex: 2; 
    text-align: center; 
    margin-right: 0; 
}


.header.titulo::after {
    content: "";
    flex: 1;
}

.titulo h1 {
    font-size: 4rem;
    line-height: 1.2;
    color: #fff;
    text-shadow: 0 0 15px rgba(32, 103, 211, 0.5);
    margin: 0;
}

.titulo h1:hover{
    transition: 0.3s ease;
    overflow: hidden;
    transform: scale(1.2);
    filter: drop-shadow(0 0 25px rgb(32, 103, 211));
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.info p {
    position: relative;
    background: #161616; 
    color: #fff;
    padding: 24px 50px;
    border-radius: 50px; 
    border: 2px solid var(--main-color, #2067d3);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    box-shadow: 0 0 15px rgba(32, 103, 211, 0.4);
    
}
.certificados{
    margin-top: 10%;
}

.certificado_area {
    display: grid;
    margin-top: 50px;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    justify-content: center;
    padding: 20px;
}

.item-certificado {
    background-color: transparent;
    width: 100%;
    max-width: 550px;
    height: 350px; 
}

.flip {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.item-certificado:hover .flip {
    transform: rotateY(180deg);
}

.frente, .tras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden; 
    border: 2px solid var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
    border: 3px solid rgb(32, 103, 211);
}

.frente img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.tras {
    background: #161616;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    filter: drop-shadow(0 0 25px #fff); 
}

.tras h4 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--main-color);
}

.tras p, .tras ul {
    font-size: 1.5rem;
    list-style: none;
    padding: 0;
}

.tras li {
    margin-bottom: 5px;
}

.button-link{
    margin-top: 10%;
}

    @media(min-width:3000px){
        .logo-certificado img{
            width: 40%;
        }

        .titulo div{
            margin-right: 40%;
        }

        .titulo h1{
            font-size: 5rem;
        }

    /* .container-certificados{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
        margin-top: 10%;
    }

    .item-certificado img{
        width: 35vw;
        height: 25vw;
    } */

    }


@media (max-width: 990px){

    .logo-certificado img{
        width: 40%;
    }

    .titulo div{
    margin-right: 30%;
    }

    /* .container-certificados{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
        gap: 10rem;
        margin: 10px;
    }

    .item-certificado img{
    width: 45vw;
    height: 35vw;
    } */

}


@media (max-width: 768px){

    .titulo h1{
    font-size: 3rem;
     }

     .logo-certificado img{
        width: 50%;
     }

     /* .certificados{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .container-certificados {
        grid-template-columns: repeat(1,1fr);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .item-certificado img{
        width: 75vw;
        height: 55vw;
    } */
}

@media (max-width: 480px){

    .logo-certificado img{
        width: 50%;
    }

    .titulo div{
        margin-right: 25%;
    }

     /* .certificados{
    grid-template-columns: repeat(1,1fr);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    }

    .container-certificados {
       display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }

    .item-certificado img{
        width: 80vw;
        height: 60vw;
    }

    .button-link a{
        padding: 24px 48px;
        font-size: 20px;
    } */
}