
.header.titulo {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 20px 5%;
    background-color: #000; 
    position: relative;
}

.logo-certificado {
    flex: 1; 
}

.logo-certificado img {
    width: 80px; 
    display: block;
}

.titulo div {
    flex: 2; 
    text-align: center; 
    margin-right: 0; 
}


.header.titulo::after {
    content: "";
    flex: 1;
}

.titulo h1 {
    font-size: 4rem;
    line-height: 1.2;
    color: #fff;
    text-shadow: 0 0 15px rgba(32, 103, 211, 0.5);
    margin: 0;
}

.titulo h1:hover{
    transition: 0.3s ease;
    overflow: hidden;
    transform: scale(1.2);
    filter: drop-shadow(0 0 25px rgb(32, 103, 211));
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.info p {
    position: relative;
    background: #161616; 
    color: #fff;
    padding: 24px 50px;
    border-radius: 50px; 
    border: 2px solid var(--main-color, #2067d3);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    box-shadow: 0 0 15px rgba(32, 103, 211, 0.4);
    
}
.certificados{
    margin-top: 10%;
}

.certificado_area {
    display: grid;
    margin-top: 50px;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    justify-content: center;
    padding: 20px;
}

.item-certificado {
    background-color: transparent;
    width: 100%;
    max-width: 550px;
    height: 350px; 
}

.flip {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.item-certificado:hover .flip {
    transform: rotateY(180deg);
}

.frente, .tras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden; 
    border: 2px solid var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
    border: 3px solid rgb(32, 103, 211);
}

.frente img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.tras {
    background: #161616;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    filter: drop-shadow(0 0 25px #fff); 
}

.tras h4 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--main-color);
}

.tras p, .tras ul {
    font-size: 1.5rem;
    list-style: none;
    padding: 0;
}

.tras li {
    margin-bottom: 5px;
}

.button-link{
    margin-top: 10%;
}

    @media(min-width:3000px){
        .logo-certificado img{
            width: 40%;
        }

        .titulo div{
            margin-right: 40%;
        }

        .titulo h1{
            font-size: 5rem;
        }


    }


@media (max-width: 990px){

    .logo-certificado img{
        width: 40%;
    }

    .titulo div{
    margin-right: 30%;
    }

}


@media (max-width: 768px){

    .titulo h1{
    font-size: 3rem;
     }

     .logo-certificado img{
        width: 80%;
     }

     .frente, .tras {
    position: absolute;
    width: 80%;
    height: 80%;
}


}

@media (max-width: 480px){

    .logo-certificado img{
        width: 80%;
    }

    .header.titulo {
        flex-direction: row; 
        align-items: center;
        text-align: center;
        padding: 20px 0;
    }

    .titulo div {
        margin-right: 0; 
        width: 100%;
    }

    .titulo h1 {
        font-size: 2.5rem; 
    }

    .certificado_area {
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 10px;
    }

    .item-certificado {
        width: 90%; 
        max-width: 350px; 
        height: 250px; 
        margin-bottom: 20px; 
    }


    .frente, .tras {
        width: 100%; 
        height: 100%;
        left: 0; /* Garante que comece no canto esquerdo do pai */
        top: 0;
    }

    .frente img {
        object-fit: cover;
    }
    
    .tras {
        padding: 20px; /* Evita que o texto encoste nas bordas */
    }

}