.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.logo{
    position: absolute;
    left: 10%;
}

 h1{
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 25px;
}

.certificados{
    margin: 40px auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-certificados{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8rem;
}

.info-certificado{
    transition: transform 0.3s ease;
    text-align: center;
}

.info-certificado img{
    width: 80%;
    height: 100%;
     box-shadow: 0 0 25px var(--main-color);
    border: 2px solid #fff; 
}

.info-certificado:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 25px var(--main-color)); 
}

@media (max-width: 480px){

    h1{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 25px;
     }

     .certificados{
    grid-template-columns: repeat(1,1fr);
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .box-certificados {
       display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-link {
        margin-top: 20%;
    }
}

@media (max-width: 768px){

    h1{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 25px;
     }

     .logo img{
        margin-top: 20%;
        width: 100%;
        margin-right: 40%;
        }

     .certificados{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .box-certificados {
        grid-template-columns: repeat(1,1fr);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .button-link {
        margin-top: 20%;
    }
}

    /* @media(max-width:2000px){
        .info-certificado img{
            width: 80%;
            height: 100%;
        }

    .box-certificados {
        grid-template-columns: repeat(2,1fr);
        display: grid;
        gap: 5rem;
    }

    .button-link {
        margin-top: 10%;
    }
    } */